<!DOCTYPE html>
<style>
  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    align-items: center;
    gap: 20px;
    font-size: 25px;
  }
  select {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  h3 {
    font-size: 40px;
  }

  .boxerCard {
    width: 35vw;
    max-width: 450px;
  }
  .boxerImageContainer {
    /*this is 100% of the direct parent*/
    width: 100%;
  }
  .boxerImage {
    background: lightpink;

    height: 35vw;
    border-radius: 50%;
    border-style: solid;
    object-fit: cover;
    width: 100%;
    max-height: 450px;
  }

  #boxerOne {
    border-color: red;
  }

  #opponentPicture {
    border-color: blue;
  }

  #box {
    display: block;
    background-color: orange;

    height: 25px;
    width: 25vw;
  }
</style>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>List Of Middleweight Champions</title>
  </head>

  <body>
    <div class="header">
      <h1 id="body-content" style="color: black">
        MiddleWeight Fanatasy Matchup
      </h1>
    </div>
    <div id="container">
      <div id="d1" class="boxerCard">
        <div id="imageOne" class="boxerImageContainer">
          <img src="" id="boxerOne" class="boxerImage" />
        </div>

        <label id="get-label">
          select a boxer

          <select id="filters">
            <% for (boxerName of boxerNames){ %>
            <option value="<%=boxerName.id%>"><%=boxerName.name%></option>
            <% } %>
          </select>
        </label>
      </div>
      <div id="vs"><h2 style="color: black">VS</h2></div>

      <div id="d2" class="boxerCard">
        <div id="imageTwo" class="boxerImageContainer">
          <img src="" id="opponentPicture" class="boxerImage" />
        </div>

        <label id="get-labelTwo">
          select an opponent

          <select id="opponents">
            <% for (boxerName of boxerNames){ %>
            <option value="<%=boxerName.id%>"><%=boxerName.name%></option>
            <% } %>
          </select>
        </label>
      </div>
    </div>

    <button id="box">Box</button>

    <h3 style="color: rgb(255, 77, 0)" id="winnerIs"></h3>
  </body>

  <script>
    const label = document.getElementById("get-label");

    const opponenetLabel = document.getElementById("get-labelTwo");
    const boxButton = document.getElementById("box");
    let mainBoxerName = document.getElementById("filters");
    let opponentBoxerName = document.getElementById("opponents");
    let mainBoxerText = null;
    let opponentBoxerText = null;

    function findSelectedBoxerName(dropdown) {
      var length = dropdown.children.length;

      for (var i = 0; i < length; i++) {
        if (dropdown.children[i].selected) {
          return dropdown.children[i].text;
        }
      }
    }
    mainBoxerName.onchange = function () {
      mainBoxerText = findSelectedBoxerName(mainBoxerName);
    };

    opponentBoxerName.onchange = function () {
      opponentBoxerText = findSelectedBoxerName(opponentBoxerName);
    };

    label.onchange = () => displayImage("filters", "boxerOne");
    opponenetLabel.onchange = () =>
      displayImage("opponents", "opponentPicture");

    async function displayImage(dropDownId, imageId) {
      document.getElementById("imageOne").style.background = null;
      document.getElementById("imageTwo").style.background = null;
      const dropdown = document.getElementById(dropDownId);

      let boxerId = dropdown.value;
      console.log(boxerId);

      const response = await fetch(`/api/boxers/${boxerId}/json`);

      const json = await response.json();
      const imageElement = document.getElementById(imageId);
      imageElement.src = "https://" + json.imageURL;
      if (json.imageURL === null) {
        imageElement.src =
          "https://c7.alamy.com/comp/FCF9TM/3d-render-of-a-boxer-holding-a-question-mark-symbol-FCF9TM.jpg";
      }
    }
    boxButton.onclick = async function () {
      let mainBoxerId = getBoxerId("filters");

      let opponentBoxerId = getBoxerId("opponents");

      const winnerResponse = await fetch(
        `/api/simulatefight/${mainBoxerId}/${opponentBoxerId}`
      );

      let winnerText = await winnerResponse.text();

      winnerIs.innerText = winnerText;

      if (winnerText === mainBoxerText) {
        displayOutcome("green", "red", winnerText + " " + "won");
      } else if (winnerText === opponentBoxerText) {
        displayOutcome("red", "green", winnerText + " " + "won");
      } else {
        displayOutcome("yellow", "yellow", "it's a draw");
      }
    };

    function displayOutcome(colorOne, colorTwo, outcomeText) {
      document.getElementById("imageOne").style.background = colorOne;
      document.getElementById("imageTwo").style.background = colorTwo;
      winnerIs.innerText = outcomeText;
    }

    function getBoxerId(dropDownId) {
      const dropdown = document.getElementById(dropDownId);

      let boxerId = dropdown.value;

      return boxerId;
    }
  </script>
</html>
