<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Of Middleweight Champions</title>
  </head>
  <body>
    <label id="get-label">
      select a boxer
      <select id="filters">
        <% for (boxerName of boxerNames){ %>
        <option value="<%=boxerName.id%>"><%=boxerName.name%></option>
        <% } %>
      </select>
      <br />
    </label>
    <img src="" id="boxerOne" />

    <label id="get-labelTwo">
      select an opponent
      <select id="opponents">
        <% for (boxerName of boxerNames){ %>
        <option value="<%=boxerName.id%>"><%=boxerName.name%></option>
        <% } %>
      </select>
    </label>
    <img src="" id="opponentPicture" />
    <button id="box">Box</button>
    <h3 style="color: crimson" id="winnerIs"></h3>
  </body>

  <script>
    const label = document.getElementById("get-label");
    const opponenetLabel = document.getElementById("get-labelTwo");
    const boxButton = document.getElementById("box");
    // console.log("fight!", boxButton);

    label.onchange = () => displayImage("filters", "boxerOne");
    opponenetLabel.onchange = () =>
      displayImage("opponents", "opponentPicture");

    async function displayImage(dropDownId, imageId) {
      const dropdown = document.getElementById(dropDownId);

      let boxerId = parseInt(dropdown.value);

      const response = await fetch(
        `http://localhost:9000/api/boxers/${boxerId}/json`
      );

      const json = await response.json();
      const imageElement = document.getElementById(imageId);
      imageElement.src = "https://" + json.imageURL;
    }
    boxButton.onclick = async function () {
      let mainBoxerId = getBoxerId("filters");

      let opponentBoxerId = getBoxerId("opponents");

      const winnerResponse = await fetch(
        `/api/simulatefight/${mainBoxerId}/${opponentBoxerId}`
      );

      let winnerText = await winnerResponse.text();

      winnerIs.innerText = winnerText;
    };

    function getBoxerId(dropDownId) {
      const dropdown = document.getElementById(dropDownId);

      let boxerId = parseInt(dropdown.value);

      return boxerId;
    }
  </script>
</html>
